button {
  all: unset;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.cckemit-page__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 30px;
}

.cckemit-page__section__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* animation: scrollAnimationLeft both;
    animation-timeline: view(15% 50%); */
}

.cckemit-page__section__name__text {
    font-family: 'Montserrat-Bold';
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    text-align: end;
    margin-top: 40px;
}

.cckemit-page__arrows__image {
    width: 45px;
    position: relative; top: 22px;
}

.cckemit-page__section__style {
    padding-inline: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    
} 

.cckemit-page__section__description__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* animation: scrollAnimationLeft both;
    animation-timeline: view(block 90% 30%); */
}

.cckemit-page__section__description__main__part {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 20px;
    
}

.cckemit-page_corner_image {
    max-width: 45%;
    position: relative; left: 120px; bottom: 170px;
}

.cckemit-page_cornertop_image{
    max-width: 70px;
    position: relative; bottom: 15px;
    margin-right: -70px;
    
}

.cckemit-page__main-page__image-1{
    max-height: 360px;
    max-width: 100%;
    align-self: center;
    margin-top: -50px;
    margin-bottom: 20px;
}
.cckemit-page__main-page__images {
    max-height: 200px;
    max-width: 100%;
    align-self: center;
    
}

.cckemit-page__main-page__text {
    text-align: start;
    border-radius: 30px;
    color: white;
    margin: 0;
    font-size: 21px;
    
    
}


.cckemit-page__section__calendar__name {
    justify-content: end;
    flex-direction: row-reverse;
    
}

.cckemit-page__arrows__image-reverse {
    rotate: 180deg;
    
}

.cckemit-page__section__calendar__main__info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cckemit-page__section__calendar__images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    max-width: 250px;
    /* animation: scrollAnimationLeft both;
    animation-timeline: view(block 90% 20%); */
}

.cckemit-page__calendar-lines__image {
    max-width: 120px;
    align-self: flex-end;
}

.cckemit-page__calendar__images {
    max-width: inherit;
}

.cckemit-page__section__calendar__events {
    border: white solid 3px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    /* animation: scrollAnimationLeft both;
    animation-timeline: view(block 90% 20%); */
}

.cckemit-page__section__calendar__event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    gap: 20px;
    font-family: 'Montserrat-SemiBold';
    font-weight: bold;
}

.cckemit-page__section__calendar__event__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    font-size: 15px;
    
}

.cckemit-page__section__calendar__event__name {
    font-size: 20px;
    
}

.cckemit-page__section__calendar__event__date {
    color:#A00F33;
}

.cckemit-page__section__calendar__event__place {
    color: #A00F33;
    text-align: end;
    font-size: 13px;
}

.cckemit-page__section__calendar__star-image {
    width: 50px;
    padding-right: 105px;
    margin-top: -25px;
}

.cckemit-page__section__president__title {
    font-family: 'Montserrat-Bold';
}

.cckemit-page__section__president__name {
    color: #A00F33;
}

.cckemit-page__section__president__image {
    max-width: 300px;
}

.cckemit-page__section__president {
    position: relative;
    gap: 60px;
}

.cckemit-page__section__president-background {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    
}

.cckemit-page__section__team {
    margin-bottom: 50px;
    z-index: 1;
}

.cckemit-page__section__team__title {
    font-family: 'Montserrat-Bold';
}

.cckemit-page__section__team__image {
    max-width: 100%;
    border-radius: 40px;
}

button:hover {
    transform: scale(1.05);
}

@media (width < 1024px) {
    .cckemit-page__section__style {
        padding-inline: 15%;
    }
    .cckemit-page__section__team {
        margin-top: 50px;
    }
}

@media (width < 768px) {
    .cckemit-page__section__description__main__part {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cckemit-page__section__description__main__part-2 {
        flex-direction: column-reverse;
    }

    .cckemit-page__section__description__main {
        gap: 15px;
    }

    .cckemit-page__main-page__images {
        width: fit-content;
    }

    .cckemit-page__main-page__image-1 {
        width: 100%;
    }

    .cckemit-page__description_lines {
        display: none;
    }

    .cckemit-page__main-page__image-1 {
        padding: 0;
    }

    .cckemit-page__section__description {
        max-width: 270px;
        padding-inline: 30px;
        align-self: center;
    }

    .cckemit-page__section__calendar {
        padding-inline: 5%;
    }
}

@media (width < 652px) {
    .cckemit-page__section__description {
        gap: 15px;
    }

    .cckemit-page__section__calendar__main__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cckemit-page__section__calendar__images {
        display: none;
    }

    .cckemit-page__section__calendar {
        padding-inline: 15%
    }

    .cckemit-page__section__calendar__star-image {
        display: none;
    }

    .cckemit-page__section__president__image {
        max-width: 250px;
    }

    .cckemit-page__section__team {
        margin-top: 0;
        padding-inline: 10%;
    }
}

@media (width < 524px) {
    .cckemit-page__main {
        gap: 15px;
    }

    .cckemit-page__section__president {
        gap: 10px;
    }

    .cckemit-page__section__president-background {
        display: none;
    }

    .cckemit-page__section__name__text {
        font-size: 20px;
    }

    .cckemit-page__arrows__image {
        max-width: 35px;
    }

    .cckemit-page__main-page__text {
        font-size: 13px;
    }

    .cckemit-page__section__calendar {
        padding: 7%;
    }

    .cckemit-page__section__calendar__event__name {
        font-size: 15px;
    }

    .cckemit-page__section__calendar__event__date {
        font-size: 11px;
    }

    .cckemit-page__section__calendar__event__time {
        font-size: 11px;
    }

    .cckemit-page__section__calendar__event__place {
        font-size: 11px;
    }

    .cckemit-page__section__president__title__status {
        font-size: 15px;
    }

    .cckemit-page__section__president__name {
        font-size: 15px;
    }

    .cckemit-page__section__president__image {
        max-width: 200px;
    }

    .cckemit-page__section__team__title {
        font-size: 17px;
    }

    .cckemit-page__section__team {
        padding: 2%;
        gap: 10px;
    }
}

@media (width < 279px) {
   .cckemit-page__section__description {
        padding-inline: 2px;
   }

   .cckemit-page__section__calendar__event {
        flex-direction: column;
        align-items: start;
   }

   .cckemit-page__section__calendar__event__place {
    text-align: start;
   }

   .cckemit-page__main-page__images {
      max-width: 200px;
   }

   .cckemit-page__main-page__text {
        font-size: 13px;
        padding-inline: 20px;
    }

  .cckemit-page__section__name__text {
    padding-inline-start: 20px;
  }

  .cckemit-page__section__president__image {
    max-width: 160px;
  }
}


