@import url(../../styles/Animation.css);

button {
    all: unset;
    cursor: pointer;
}

h1, h2, h3, h4, p, br {
    padding: 0;
    margin: 0;
}

/* .csc-page__header-black-component__section__navigation {
  margin-top: 80px;
} */

.csc-page__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    padding-block: 50px;
    color: white;
    background-color: black;
    z-index: -1;
}

.csc-page__section__description {
    position: relative;
    animation: slideDown 2s ease;
}

.csc-page__padding__inline {
    padding-inline: 230px;
}

.csc-page__section__description__text {
    background: linear-gradient(to right,#A00F33, #29345B);
    color: white;
    text-align: start;
    padding-inline: 25px;
    padding-block: 20px;
    border-radius: 30px;
}

.csc-page__section__description__background {
    position: absolute;
    max-width: 40px;
    left: 220px;
    top: -10px;
}

.csc-page__section__main-image {
    position: relative;
    animation: slideDown 2s ease;
    z-index: 1;
}

.csc-page__csc-image {
    max-width: 400px;
}

.csc-page__main-image__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.csc-page__section__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    animation: slideDown 2s ease;

}

.csc-page__section__career-science {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.csc-page__project__style {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 20px;
}

.csc-page__project__text {
    padding: 15px;
    border: white solid 1px;
    border-radius: 30px;
    
    
}

.csc-page__name-project__style {
    color: #CA0F3E;
    font-size: 23px;
    
}
    

.csc-page__csc-image__figures {
    max-width: 50px;
}

.csc-page__section__project {
    padding-inline: 120px;
}

.csc-page__section__chat {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: slideDown 2s ease;
}

.csc-page__section__chat__info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.csc-page__chat-image {
    max-width: 250px;
}

button:hover {
    transform: scale(1.csc-page__05);
}

@media (width < 1024px) {
    .csc-page__padding__inline {
        padding-inline: 180px;
    }

    .csc-page__section__description__background {
        left: 170px;
    }
}

@media (width <945px) {
    .csc-page__padding__inline {
        padding-inline: 150px;
    }

    .csc-page__section__description__background {
        display: none;
    }
}

@media (width < 768px) {
    .csc-page__padding__inline {
        padding-inline: 180px;
    }

    .csc-page__main {
        gap: 40px;
    }

    .csc-page__csc-image {
        max-width: 200px;
    }

    .csc-page__section__career-science {
        flex-direction: column;
    }

    .csc-page__section__project {
        padding-inline: 0;
    }

    .csc-page__csc-image__figures {
        display: none;
    }

    .csc-page__section__fields {
        gap: 50px;
    }

    .csc-page__section__chat {
        flex-direction: column;
    }

    .csc-page__chat__title {
        text-align: center;
    }

    .csc-page__chat-image {
        max-width: 200px;
    }
}

@media (width < 652px) {
    .csc-page__padding__inline {
        padding-inline: 80px;
    }
}

@media (width < 524px) {
    .csc-page__section__description__text {
        font-size: 15px;
    }

    .csc-page__name-project__style {
        font-size: 18px;
    }

    .csc-page__project__text {
        font-size: 15px;
    }

    .csc-page__chat__text {
        font-size: 15px;
    }

    .csc-page__chat__title {
        font-size: 18px;
    }
}

@media (width < 380px) {
    .csc-page__padding__inline {
        padding-inline: 40px;
    }

    .csc-page__csc-image {
        max-width: 100%;
    }

    .csc-page__chat-image {
        max-width: 100%;
    }
}

@media (width < 279px) {
   .csc-page__padding__inline {
        padding-inline: 25px;
    }
}

