

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



#main-page .body {
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    color: #171F29;
    z-index: 1;
    position: relative;
    gap: 25px;
    text-align: center;
    overflow-x: hidden; 
}

#main-page,
#main-page * {
  box-sizing: border-box;
}

#main-page  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 3.5%;
}

#main-page .header__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#main-page .header__logo-img {
    max-width: 395px;
    max-height: 116px;
}

#main-page .button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#main-page .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 420px;
}

#main-page .header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0;
    height: 530px;
}

#main-page .header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-page .header__menu-button {
    color: black;
    background-color: white;
    width: 100%;
    border-radius: 70px;
    padding-block: 25px;
    padding-inline: 125px;
    transition: transform 0.3s ease;
}

.corner-image__right{
    animation-name: RightImageCorner;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.corner-image__left{
    animation-name: LeftImageCorner;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.header__menu-button{
    animation-name: LIstAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.header__logo-img{
    animation-name: ShowAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.lines__corners{
    animation-name: ShowAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@media (width < 1024px) {
    #main-page .body {
        gap: 20px;
    }

    #main-page .image__corners {
        width: 280px;
    }

    #main-page .lines__corners {
        width: 170px;
    }
    
    #main-page .header__logo-img {
        width: 270px;
    }

    #main-page .header__menu-button {
        padding-block: 15px;
        padding-inline: 100px;
        max-width: 350px;
    }
}

@media (width < 768px) {
    #main-page .body {
        font-size: 18px;
    }

    #main-page .header {
        margin-block-start: 60px;
    }

    #main-page .image__corners {
        width: 200px;
    }
    
    #main-page .header__logo-img {
        width: 250px;
    }

    #main-page .lines__corners {
        width: 120px;
    }
}

@media (width < 524px) {
    #main-page .body {
        gap: 15px;
        font-size: 14px;
    }

    #main-page .header {
        margin-block-start: 50px;
    }

    #main-page .image__corners {
        width: 150px;
    }

    #main-page .lines__corners {
        width: 70px;
    }
    
    #main-page .header__logo-img {
        width: 200px;
    }

    #main-page .header__menu-list {
        padding: 0;
    }

    #main-page .header__menu-button {
        padding-block: 10px;
        padding-inline: 80px;
        max-width: 270px;
    }
}

@media (width < 380px) {
    #main-page .body {
        width: 100%;
    }

    #main-page .header {
        margin-block-start: 60px;
    }

    #main-page .header__menu-list {
        padding-inline: 10px;
    }
}

@media (width < 314px) {
    #main-page .header {
        margin-block-start: 60px;
    }

    #main-page .header__logo-img {
        width: 170px;
    }

    #main-page .header__menu-button {
        padding-block: 8px;
        padding-inline: 30px;
        max-width: 200px;
    }
}

/* ----------------------- уголки ------------------------------- */
#main-page .corner-lines__background {
    position: absolute;
    z-index: -1;
}

#main-page .corner-line__left {
    margin-block-start: 7%;
    margin-inline-start: 4%;
}

#main-page .corner-line__right {
    position: fixed;
    bottom: 2%;
    right: 1.5%;
}

/* ----------------------картинки линии---------------------- */

#main-page .corner-images__background {
    position: absolute;
    z-index: -1;
}

#main-page .corner-image__left {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 60%;
}

#main-page .corner-image__right {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 35%;
}

/* --------------------наведение----------------------- */

#main-page .header__menu-button:hover {
    background: linear-gradient(to right,#CA0F3E, #29345B);
    transform: scale(1.05);
    color: white;
}

@keyframes ShowAnimation {
    from{
        opacity: 0%;
        transform:  scale(0.3);
    }to{
        opacity: 1;
        transform:  scale(1);
    }
}

@keyframes RightImageCorner{
    from{
        opacity: 0;
        transform: translateX(200px); 
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes LeftImageCorner{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes LIstAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}