@import url(../../styles/Animation.css);

button {
    all: unset;
    cursor: pointer;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

/* вот тут нужно править с футером что то  */
.positions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.emeetimg-page__main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-family: 'Montserrat';
    text-align: center;
    color: #171F29;
    padding-top: 50px;
    

} 

.emeetimg-page__padding__inline {
    padding-inline: 230px; 
}

.emeetimg-page__section__description {
    width: fit-content;
    position: relative;
}

.emeetimg-page__section__description__text {
    background: linear-gradient(to right,#A00F33, #29345B);
    color: white;
    text-align: start;
    padding-inline: 25px;
    padding-block: 20px;
    border-radius: 35px;
    animation: FadeIn 2s ease;

}

.emeetimg-page__section__description__background {
    position: absolute;
    width: 100%;
    left: 0;
    top: -20px;
    z-index: -1;
    animation: FadeInLines 3s ease;
}

.emeetimg-page__section__emeeting__fotos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: bold;
}

.emeetimg-page__section__description__text {
    font-size: 20px;
}

.emeetimg-page__section__fotos__part {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 30px;
    text-align: start;
    animation: scrollAnimationUpS both;
    animation-timeline: view(block 70% 40%);
}

.emeetimg-page__emeeting__fotos {
    max-width: 500px;
}

.emeetimg-page__position__reversed {
    flex-direction: row-reverse;
}

.emeetimg-page__emeeting__corners {
    position: relative;
}

.emeetimg-page__emeeting__corner-left-top {
    max-width: 80px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.emeetimg-page__emeeting__corner-right-bottom {
    max-width: 80px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

button:hover {
    transform: scale(1.05);
}

@media (width < 1416px) {
  .emeetimg-page__section__description__background {
    top: 0px;
  }
}

@media (width < 1024px) {
    
}

@media (width <945px) {
    .emeetimg-page__padding__inline {
        padding-inline: 200px;
        
    }

    .emeetimg-page__emeeting__fotos {
        max-width: 270px;
    }
}

@media (width < 768px) {
    .emeetimg-page__section__fotos__part {
        flex-direction: column;
    }

    .emeetimg-page__emeeting__fotos {
        max-width: 100%;
    }
    
    .emeetimg-page__section__description__text {
        font-size: 17px;
    }

    .emeetimg-page__padding__inline {
        padding-inline: 130px;
    }
}

@media (width < 652px) {
    .emeetimg-page__padding__inline {
        padding-inline: 100px;
    }

    .emeetimg-page__section__description__background {
        top: 50px;
    }

}

@media (width < 524px) {
    .emeetimg-page__main {
        gap: 25px;
    }

    .emeetimg-page__section__description__text {
        font-size: 15px;
    }

    .emeetimg-page__section__fotos__part {
        gap: 15px;
    }

    .emeetimg-page__padding__inline {
        padding-inline: 60px;
    }
}

@media (width < 380px) {
    .emeetimg-page__padding__inline {
        padding-inline: 30px;
    }

    .emeetimg-page__section__description__background {
        display: none;
    }

    .emeetimg-page__emeeting__corner-left-top {
        display: none;
    }

    .emeetimg-page__emeeting__corner-right-bottom {
        display: none;
    }
}

@media (width < 279px) {
   .emeetimg-page__padding__inline {
    padding-inline: 20px;
   }

   .emeetimg-page__section__description__text {
    text-align: center;
   }
}

