.auth-page__button-save__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-inline: 20%;
  box-sizing: border-box;
}

.auth-page__submit-button {
  all: unset;
  text-align: center;
  background: linear-gradient(135deg, #ca0f3e 0%, #29345b 100%);
  color: white;
  border: 1px solid black;
  font-family: 'Montserrat-SemiBold';
  border-radius: 30px;
  padding-block: 20px;
}

.auth-page__submit-button:hover {
  transform: none;
  outline: 1px solid black;
  cursor: pointer;
}

.auth-page__submit-button.disabled {
  transform: none;
  cursor: not-allowed;
}