

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

 .header-component__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat';
    text-align: center;
    
}

 .header-component__section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 50px;
}

 .header-component__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

 .header-component__section__title {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 150px;
    margin: 0;
    padding: 0;
    max-width: 450px;
    animation-name: headerAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

 .header-component__section__logos {
    margin-top: 60px;
    animation-name: headerAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
   
}

.header-component__navigation__button {
    display: none;
}

 .header-component__title__page-name {
    font-family: 'Helios';
    font-weight: 400;
    font-style: bold;
    font-size: 45px;
}

 .header-component__title__page-name__h2 {
    color: #A00F33;
    font-weight: 600;
    font-size: 27px;
}

 .header-component__section__navigation {
    margin-block-start: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 45px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    
}

@media (width < 768px) {
    .header-component__ranepa__logos {
        max-width: 300px;
        margin-top: 20px;
        margin-inline-end: 5px;
    }

    .header-component__navigation__button {
        max-width: 50px;
    }

    .header-component__section__navigation {
        margin-top: 150px;
    }

    .header-component__section__title {
        margin-top: 10px;
    }
}

@media (width < 652px) {
    .header-component__main-page__button {
        font-size: 15px;
    }
    
    .header-component__ranepa__logos {
        max-width: 250px;
        margin-inline-start: 5px;
    }

    .header-component__section__title {
        max-width: 300px;
    }

    .header-component__title__page-name {
        font-size: 35px;
    }

    .header-component__title__page-name__h2 {
        font-size: 25px;
    }

    .header-component__main-page__button__emitman {
        padding-inline-end: 15px;
    }

    .header-component__section__navigation {
        margin-top: 160px;
    }
}

@media (width < 524px) {
    .header-component__body__page {
        gap: 20px;
    }

    .header-component__main {
        gap: 15px;
    }

    .header-component__title__page-name {
        font-size: 30px;
    }

    .header-component__title__page-name__h2 {
        font-size: 25px;
    }

    .header-component__ranepa__logos {
        max-width: 200px;
        margin-inline-start: 5px;
    }

    .header-component__navigation__button {
        max-width: 30px;
    }

    .header-component__section__navigation {
        margin-top: 120px;
        font-size: 10px;
        flex-direction: column;
        gap: 10px;
        
    }

    .header-component__section__title {
        margin-block: -10px;
    }

    .header-component__section__logos {
        margin-inline-end: 10px;
    }

    .header-component__main-page__button__main {
        padding-inline-start: 0;
    }

    .header-component__main-page__button__emitman {
        padding-inline-end: 0;
    }
}

@media (width < 380px) {
    .header-component__ranepa__logos {
        display: none;
    }

    .header-component__section__header {
        margin-top: 10px;
    }

    .header-component__title__page-name {
        max-width: 150px;
        align-self: center;
        
    }

    .header-component__section__title {
        margin-block: -90px;
    }

    .header-component__section__navigation {
        margin-top: 160px;
    }
}

@keyframes headerAnimation{
    from{
        opacity: 0;
        transform: scale(0.3);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}