button {
    all: unset;
    cursor: pointer;
}

.body__page {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    color: white;
    background-color: black;
}

h1, h2, h3, h4, p, br {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
}

.section__title {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 40px;
    margin: 0;
    padding: 0;
    max-width: 450px;
}

.section__logos {
    margin-inline-end: 30px;
}

.title__page-name {
    margin-top: 20px;
    font-family: 'Helios';
    font-weight: 700;
    font-style: bold;
    font-size: 45px;
    color: #CA0F3E;
}

.section__navigation {
    margin-block-start: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 45px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.padding__inline {
    padding-inline: 170px;
}

.section__description__text {
    background: white;
    color: black;
    text-align: start;
    padding-inline: 25px;
    padding-block: 20px;
    border-radius: 30px;
    font-size: 18px;
}

.debates__line {
    max-width: 100%;
}

.section__info {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section__info-part {
    display: flex;
    flex-direction: row;
    text-align: start;
    border: solid 2px #CA0F3E;
    border-radius: 40px;
}

.text-info {
    padding-top: 15px;
    padding-inline: 20px;
    font-size: 18px;
}

.debates__foto {
    max-width: 350px;
    height: 100%;
}

.debates__foto__logo {
    max-width: 100%;
}

.style-reversed {
    flex-direction: row-reverse;
}

.footer {
    background-color: #171F29;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    color: white;
    padding-block: 30px;
    font-size: 13px;
}

.footer__section__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.footer__section__contacts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.footer__section__numbers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.social-media__logo {
    width: 24px;
}

.footer__title {
    font-size: 15px;
    font-family: 'Montserrat-Bold';
}

button:hover {
    transform: scale(1.05);
}

@media (width < 1024px) {
   
    .padding__inline {
        padding-inline: 180px;
    }

    .section__info-part {
        flex-direction: column;
        padding-bottom: 20px;
        border-radius: 70px;
    }

    .text-info {
        padding-inline: 35px;
    }

    .debates__foto {
        max-width: 100%;
    }
}

@media (width <945px) {
    .padding__inline {
        padding-inline: 150px;
    }
}

@media (width < 768px) {
    .ranepa__logos {
        max-width: 100px;
    }

    .navigation__button {
        max-width: 50px;
    }

    .section__navigation {
        margin-top: 90px;
        flex-direction: column;
        gap: 10px;
    }

    .padding__inline {
        padding-inline: 100px;
    }

    .section__info-part {
        border-radius: 50px;
    }

    .main {
        gap: 40px;
    }

   

    .footer {
        padding-inline: 30px;
        text-align: start;
        gap: 50px;
    }
}

@media (width < 652px) {
    .ranepa__logos {
        max-width: 100px;
    }

    .section__title {
        max-width: 250px;
    }

    .title__page-name {
        font-size: 30px;
    }

    .section__navigation {
        margin-top: 80px;
    }

    .main-page__button {
        font-size: 15px;
    }

    .main-page__button__emitman {
        padding-inline-end: 15px;
    }

    .padding__inline {
        padding-inline: 80px;
    }

    .section__description__text {
        font-size: 15px;
    }

    .text-info {
        font-size: 15px;
    }
}

@media (width < 524px) {
    .body__page {
        gap: 20px;
    }

    .ranepa__logos {
        max-width: 50px;
    }

    .navigation__button {
        max-width: 30px;
    }

    .section__navigation {
        font-size: 10px;
    }

    .section__logos {
        margin-inline-end: 5px;
    }

    .main-page__button__main {
        padding-inline-start: 0;
    }

    .main-page__button__emitman {
        padding-inline-end: 0;
    }

    .section__description__text {
        font-size: 15px;
    }

    .padding__inline {
        padding-inline: 30px;
    }
    
    .footer {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer__title {
        font-size: 12px;
    }

    .footer__title__social-media {
        display: none;;
    }
}

@media (width < 380px) {
    .ranepa__logos {
        display: none;
    }

    .section__header {
        margin-top: 40px;
    }

    .section__info-part {
        border: none;
        gap: 20px
    }

    .section__info {
        gap: 30px;
    }

    .text-info {
        padding: 0;
    }

    .title__page-name {
        margin-top: 0;
        max-width: 150px;
    }

    .padding__inline {
        padding-inline: 20px;
    }
}

@media (width < 279px) {
   .padding__inline {
        padding-inline: 25px;
    }
}